workflows/mymprK0dwgybpMrzZliKd.json
{
  "id": "mymprK0dwgybpMrzZliKd",
  "name": "random name gen",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "26526f1b-2a11-4768-b569-9616db26d86b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "category": "randomData"
      },
      "type": "n8n-nodes-base.debugHelper",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "440adc5d-af65-4ca4-94a0-e089dd076e6c",
      "name": "DebugHelper"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "8f969385-282d-470d-9ee5-6a4301630477",
      "name": "List data tables"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab5f0a29-4045-4c0b-8923-82eae20f999d",
              "leftValue": "={{ $json.name }}",
              "rightValue": "names",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "be32c96e-46d1-4bf3-895c-3a7efc600093",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "e2hmR29sY7qB6QkM",
          "mode": "list",
          "cachedResultName": "names",
          "cachedResultUrl": "/projects/8mpmPMbcqVbWrD3F/datatables/e2hmR29sY7qB6QkM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "firstName": "={{ $('DebugHelper').item.json.firstname }}",
            "age": 23,
            "lastName": "={{ $('DebugHelper').item.json.lastname }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        896,
        -32
      ],
      "id": "9686a38c-b2b3-4c9a-805c-0d09421e048e",
      "name": "Insert row"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "DebugHelper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DebugHelper": {
      "main": [
        [
          {
            "node": "List data tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List data tables": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 1,
  "versionId": "521fc087-606b-40d3-a327-92f60a1742d1",
  "owner": {
    "type": "team",
    "teamId": "8mpmPMbcqVbWrD3F",
    "teamName": "nikhil"
  },
  "parentFolderId": null,
  "isArchived": false
}