workflows/Pk6Wl8LhE0hku6mCF9GfK.json
{
  "id": "Pk6Wl8LhE0hku6mCF9GfK",
  "name": "workflow using data tables",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6cbb76b9-1493-4c25-9cfd-bf1ea47598d4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "R3JhpbmsXJeyaCkB",
          "mode": "list",
          "cachedResultName": "konsti",
          "cachedResultUrl": "/projects/3YueEMbBWVBJQbNQ/datatables/R3JhpbmsXJeyaCkB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "=Hello world {{ $json.Name }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "4f98592c-a20d-49f3-a5dc-2373ef68b2e5",
      "name": "Insert row"
    },
    {
      "parameters": {
        "formTitle": "Hello world",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -80,
        144
      ],
      "id": "646c7a78-8406-4f93-b39d-86fafa38a315",
      "name": "On form submission",
      "webhookId": "aa28405b-b45d-4a2a-bab3-bb7fabb195d9"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 1,
  "versionId": "7e84673e-39a7-4fdb-9da7-c13f6d2da4e4",
  "owner": {
    "type": "team",
    "teamId": "3YueEMbBWVBJQbNQ",
    "teamName": "konsti"
  },
  "parentFolderId": null,
  "isArchived": false
}